h1{
    font-size: 30px;
    color: cyan;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 10px 10px 8px black;
    border: solid black;
    margin-left: 45%;
    margin-right: 45%;
    padding: 5px;
}